.formulario{
    margin: 0;
    padding: 0;
    width: 280px;
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.btnAgregar{
    width: 100%;
    border: 2px solid;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    transform: translate(120%);
    font-size: 18px;
}

footer{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 90%;
}
